asn1               = SEQUENCE:Certificate

[ Certificate ]
tbsCertificate     = SEQUENCE:tbsCertificate
signagureAlgorithm = SEQUENCE:signatureAlgorithm
signature          = FORMAT:HEX,BITSTRING:BE60E022393AE1AA316646C760DDA391AA730FF7D2A8AF79EF8B57683BFE39021EB2C7A1F166408ECE7B1F91AC0950FA6713405744518FBA180B867C187395CAE643D4744578E414CEA615C2AAB2282B48EEACDFA55A48CA6D2EE29F1C0B0FC27DD5A7D749DBF7DAA224453B4D9F93838349181A1B8A901BC4866E33BE3B0050D025D0C1386FC3456AA9A02DC79D90EEBA3F82DA826A5365298020D8CA23E4DF20D4D386CCCEA9304B5632FAE696BE3315AC9FAAABB65B98DD37011C2A7F5BA5D417E147367A60875EE02CAF83C37BA8D59E05434FEC0056F4451EA967EE913A1B7903FBCECECEC019A0D87FDC6C2961C3DF8A492795050FAA608ACE2BFF9FED

[ tbsCertificate ]
version = EXPLICIT:0,INTEGER:2
serial  = INTEGER:0x9CDB54991A6C4C800A8CEFD9A28735F7
signatureAlgorithm = SEQUENCE:signatureAlgorithm
issuer               = SEQUENCE:issuer
validity             = SEQUENCE:validity
subject              = SEQUENCE:subject
subjectPublicKeyInfo = SEQUENCE:SubjectPublicKeyInfo
extensions           = EXPLICIT:3C,SEQUENCE:Extensions

[ issuer ]
C  = SETWRAP,SEQUENCE:US
O  = SETWRAP,SEQUENCE:gtsllc
CN = SETWRAP,SEQUENCE:gtsca1c3
 
[ US ]
object = OID:countryName
data   = PRINTABLESTRING:US
 
[ gtsllc ]
object = OID:organizationName
data   = PRINTABLESTRING:Google Trust Services LLC
 
[ gtsca1c3 ]
object = OID:commonName
data   = PRINTABLESTRING:GTS CA 1C3
 
[ validity ]
notBefore = UTCTIME:231211080331Z
notAfter  = UTCTIME:240304080330Z
 
[ subject ]
CN = SETWRAP,SEQUENCE:google.com

[ google.com ]
object = OID:commonName
data   = UTF8STRING:*.google.com
 
[ SubjectPublicKeyInfo ]
algorithm = SEQUENCE:pubKeyAlgo
pubKey    = FORMAT:HEX,BITSTRING:04F64E218EEF59208846D531B01AA14A75CB0013BA1E2C50A5C645914F76AE90DA96C07A97A31167C76DE5E0CF0D72E9A5E340C76A8464C734BF1FC63161D166B9
 
[ pubKeyAlgo ]
algorithm  = OID:id-ecPublicKey
namedCurve = OID:prime256v1 
 
[ Extensions ]
KeyUsage               = SEQUENCE:KeyUsage
ExtendedKeyUsage       = SEQUENCE:ExtendedKeyUsage
BasicConstraints       = SEQUENCE:BasicConstraints
SubjectKeyIdentifier   = SEQUENCE:SubjectKeyIdentifier
AuthorityKeyIdentifier = SEQUENCE:AuthorityKeyIdentifier
AuthorityInfoAccess    = SEQUENCE:AuthorityInfoAccess
SubjectAlternativeName = SEQUENCE:SubjectAlternativeName
CertificatePolicies    = SEQUENCE:CertificatePolicies
CRLDistributionPoints  = SEQUENCE:CRLDistributionPoints
CTPrecertificateSCTs   = SEQUENCE:CTPrecertificateSCTs

 
[ KeyUsage ]
extension = OID:keyUsage
critical  = BOOLEAN:true
value     = OCTWRAP,FORMAT:BITLIST,BITSTRING:0

[ ExtendedKeyUsage ]
extension = OID:extendedKeyUsage
#value    = OCTWRAP,SEQUENCE:eku
value     = OCTWRAP,SEQWRAP,OID:serverAuth

[ BasicConstraints ]
extension = OID:basicConstraints
critical  = BOOLEAN:true
value     = OCTWRAP,SEQUENCE:empty

[ empty ]

[ SubjectKeyIdentifier ]
extenaion = OID:subjectKeyIdentifier
value     = FORMAT:HEX,OCTWRAP,OCTETSTRING:BF2C2653D200F073FAB07C60908C1B6D1D05A0D9

[ AuthorityKeyIdentifier ]
extenaion = OID:authorityKeyIdentifier
value     = OCTWRAP,SEQUENCE:AuthKeyId

[ AuthKeyId ]
id = IMPLICIT:0,FORMAT:HEX,OCTETSTRING:8A747FAF85CDEE95CD3D9CD0E24614F371351D27

[ AuthorityInfoAccess ]
extension = OID:authorityInfoAccess
value     = OCTWRAP,SEQUENCE:authInfoAccess

[ authInfoAccess ]
ocsp      = SEQUENCE:ocsp
caIssuers = SEQUENCE:caIssuers

[ ocsp ]
oid = OID:OCSP
url = IMPLICIT:6,IA5STRING:http://ocsp.pki.goog/gts1c3

[ caIssuers ]
oid = OID:caIssuers
url = IMPLICIT:6,IA5STRING:http://pki.goog/repo/certs/gts1c3.der

[ SubjectAlternativeName ]
extension      = OID:subjectAltName
subjectAltName = OCTWRAP,SEQUENCE:subjectAlternativeName

[ subjectAlternativeName ]
DNS.1      = IMPLICIT:2,IA5STRING:*.google.com
DNS.2      = IMPLICIT:2,IA5STRING:*.appengine.google.com
DNS.3      = IMPLICIT:2,IA5STRING:*.bdn.dev
DNS.4      = IMPLICIT:2,IA5STRING:*.origin-test.bdn.dev
DNS.5      = IMPLICIT:2,IA5STRING:*.cloud.google.com
DNS.6      = IMPLICIT:2,IA5STRING:*.crowdsource.google.com
DNS.7      = IMPLICIT:2,IA5STRING:*.datacompute.google.com
DNS.8      = IMPLICIT:2,IA5STRING:*.google.ca
DNS.9      = IMPLICIT:2,IA5STRING:*.google.cl
DNS.10     = IMPLICIT:2,IA5STRING:*.google.co.in
DNS.11     = IMPLICIT:2,IA5STRING:*.google.co.jp
DNS.12     = IMPLICIT:2,IA5STRING:*.google.co.uk
DNS.13     = IMPLICIT:2,IA5STRING:*.google.com.ar
DNS.14     = IMPLICIT:2,IA5STRING:*.google.com.au
DNS.15     = IMPLICIT:2,IA5STRING:*.google.com.br
DNS.16     = IMPLICIT:2,IA5STRING:*.google.com.co
DNS.17     = IMPLICIT:2,IA5STRING:*.google.com.mx
DNS.18     = IMPLICIT:2,IA5STRING:*.google.com.tr
DNS.19     = IMPLICIT:2,IA5STRING:*.google.com.vn
DNS.20     = IMPLICIT:2,IA5STRING:*.google.de
DNS.21     = IMPLICIT:2,IA5STRING:*.google.es
DNS.22     = IMPLICIT:2,IA5STRING:*.google.fr
DNS.23     = IMPLICIT:2,IA5STRING:*.google.hu
DNS.24     = IMPLICIT:2,IA5STRING:*.google.it
DNS.25     = IMPLICIT:2,IA5STRING:*.google.nl
DNS.26     = IMPLICIT:2,IA5STRING:*.google.pl
DNS.27     = IMPLICIT:2,IA5STRING:*.google.pt
DNS.28     = IMPLICIT:2,IA5STRING:*.googleadapis.com
DNS.29     = IMPLICIT:2,IA5STRING:*.googleapis.cn
DNS.30     = IMPLICIT:2,IA5STRING:*.googlevideo.com
DNS.31     = IMPLICIT:2,IA5STRING:*.gstatic.cn
DNS.32     = IMPLICIT:2,IA5STRING:*.gstatic-cn.com
DNS.33     = IMPLICIT:2,IA5STRING:googlecnapps.cn
DNS.34     = IMPLICIT:2,IA5STRING:*.googlecnapps.cn
DNS.35     = IMPLICIT:2,IA5STRING:googleapps-cn.com
DNS.36     = IMPLICIT:2,IA5STRING:*.googleapps-cn.com
DNS.37     = IMPLICIT:2,IA5STRING:gkecnapps.cn
DNS.38     = IMPLICIT:2,IA5STRING:*.gkecnapps.cn
DNS.39     = IMPLICIT:2,IA5STRING:googledownloads.cn
DNS.40     = IMPLICIT:2,IA5STRING:*.googledownloads.cn
DNS.41     = IMPLICIT:2,IA5STRING:recaptcha.net.cn
DNS.42     = IMPLICIT:2,IA5STRING:*.recaptcha.net.cn
DNS.43     = IMPLICIT:2,IA5STRING:recaptcha-cn.net
DNS.44     = IMPLICIT:2,IA5STRING:*.recaptcha-cn.net
DNS.45     = IMPLICIT:2,IA5STRING:widevine.cn
DNS.46     = IMPLICIT:2,IA5STRING:*.widevine.cn
DNS.47     = IMPLICIT:2,IA5STRING:ampproject.org.cn
DNS.48     = IMPLICIT:2,IA5STRING:*.ampproject.org.cn
DNS.49     = IMPLICIT:2,IA5STRING:ampproject.net.cn
DNS.50     = IMPLICIT:2,IA5STRING:*.ampproject.net.cn
DNS.51     = IMPLICIT:2,IA5STRING:google-analytics-cn.com
DNS.52     = IMPLICIT:2,IA5STRING:*.google-analytics-cn.com
DNS.53     = IMPLICIT:2,IA5STRING:googleadservices-cn.com
DNS.54     = IMPLICIT:2,IA5STRING:*.googleadservices-cn.com
DNS.55     = IMPLICIT:2,IA5STRING:googlevads-cn.com
DNS.56     = IMPLICIT:2,IA5STRING:*.googlevads-cn.com
DNS.57     = IMPLICIT:2,IA5STRING:googleapis-cn.com
DNS.58     = IMPLICIT:2,IA5STRING:*.googleapis-cn.com
DNS.59     = IMPLICIT:2,IA5STRING:googleoptimize-cn.com
DNS.60     = IMPLICIT:2,IA5STRING:*.googleoptimize-cn.com
DNS.61     = IMPLICIT:2,IA5STRING:doubleclick-cn.net
DNS.62     = IMPLICIT:2,IA5STRING:*.doubleclick-cn.net
DNS.63     = IMPLICIT:2,IA5STRING:*.fls.doubleclick-cn.net
DNS.64     = IMPLICIT:2,IA5STRING:*.g.doubleclick-cn.net
DNS.65     = IMPLICIT:2,IA5STRING:doubleclick.cn
DNS.66     = IMPLICIT:2,IA5STRING:*.doubleclick.cn
DNS.67     = IMPLICIT:2,IA5STRING:*.fls.doubleclick.cn
DNS.68     = IMPLICIT:2,IA5STRING:*.g.doubleclick.cn
DNS.69     = IMPLICIT:2,IA5STRING:dartsearch-cn.net
DNS.70     = IMPLICIT:2,IA5STRING:*.dartsearch-cn.net
DNS.71     = IMPLICIT:2,IA5STRING:googletraveladservices-cn.com
DNS.72     = IMPLICIT:2,IA5STRING:*.googletraveladservices-cn.com
DNS.73     = IMPLICIT:2,IA5STRING:googletagservices-cn.com
DNS.74     = IMPLICIT:2,IA5STRING:*.googletagservices-cn.com
DNS.75     = IMPLICIT:2,IA5STRING:googletagmanager-cn.com
DNS.76     = IMPLICIT:2,IA5STRING:*.googletagmanager-cn.com
DNS.77     = IMPLICIT:2,IA5STRING:googlesyndication-cn.com
DNS.78     = IMPLICIT:2,IA5STRING:*.googlesyndication-cn.com
DNS.79     = IMPLICIT:2,IA5STRING:*.safeframe.googlesyndication-cn.com
DNS.80     = IMPLICIT:2,IA5STRING:app-measurement-cn.com
DNS.81     = IMPLICIT:2,IA5STRING:*.app-measurement-cn.com
DNS.82     = IMPLICIT:2,IA5STRING:gvt1-cn.com
DNS.83     = IMPLICIT:2,IA5STRING:*.gvt1-cn.com
DNS.84     = IMPLICIT:2,IA5STRING:gvt2-cn.com
DNS.85     = IMPLICIT:2,IA5STRING:*.gvt2-cn.com
DNS.86     = IMPLICIT:2,IA5STRING:2mdn-cn.net
DNS.87     = IMPLICIT:2,IA5STRING:*.2mdn-cn.net
DNS.88     = IMPLICIT:2,IA5STRING:googleflights-cn.net
DNS.89     = IMPLICIT:2,IA5STRING:*.googleflights-cn.net
DNS.90     = IMPLICIT:2,IA5STRING:admob-cn.com
DNS.91     = IMPLICIT:2,IA5STRING:*.admob-cn.com
DNS.92     = IMPLICIT:2,IA5STRING:googlesandbox-cn.com
DNS.93     = IMPLICIT:2,IA5STRING:*.googlesandbox-cn.com
DNS.94     = IMPLICIT:2,IA5STRING:*.safenup.googlesandbox-cn.com
DNS.95     = IMPLICIT:2,IA5STRING:*.gstatic.com
DNS.96     = IMPLICIT:2,IA5STRING:*.metric.gstatic.com
DNS.97     = IMPLICIT:2,IA5STRING:*.gvt1.com
DNS.98     = IMPLICIT:2,IA5STRING:*.gcpcdn.gvt1.com
DNS.99     = IMPLICIT:2,IA5STRING:*.gvt2.com
DNS.100    = IMPLICIT:2,IA5STRING:*.gcp.gvt2.com
DNS.101    = IMPLICIT:2,IA5STRING:*.url.google.com
DNS.102    = IMPLICIT:2,IA5STRING:*.youtube-nocookie.com
DNS.103    = IMPLICIT:2,IA5STRING:*.ytimg.com
DNS.104    = IMPLICIT:2,IA5STRING:android.com
DNS.105    = IMPLICIT:2,IA5STRING:*.android.com
DNS.106    = IMPLICIT:2,IA5STRING:*.flash.android.com
DNS.107    = IMPLICIT:2,IA5STRING:g.cn
DNS.108    = IMPLICIT:2,IA5STRING:*.g.cn
DNS.109    = IMPLICIT:2,IA5STRING:g.co
DNS.110    = IMPLICIT:2,IA5STRING:*.g.co
DNS.111    = IMPLICIT:2,IA5STRING:goo.gl
DNS.112    = IMPLICIT:2,IA5STRING:www.goo.gl
DNS.113    = IMPLICIT:2,IA5STRING:google-analytics.com
DNS.114    = IMPLICIT:2,IA5STRING:*.google-analytics.com
DNS.115    = IMPLICIT:2,IA5STRING:google.com
DNS.116    = IMPLICIT:2,IA5STRING:googlecommerce.com
DNS.117    = IMPLICIT:2,IA5STRING:*.googlecommerce.com
DNS.118    = IMPLICIT:2,IA5STRING:ggpht.cn
DNS.119    = IMPLICIT:2,IA5STRING:*.ggpht.cn
DNS.120    = IMPLICIT:2,IA5STRING:urchin.com
DNS.121    = IMPLICIT:2,IA5STRING:*.urchin.com
DNS.122    = IMPLICIT:2,IA5STRING:youtu.be
DNS.123    = IMPLICIT:2,IA5STRING:youtube.com
DNS.124    = IMPLICIT:2,IA5STRING:*.youtube.com
DNS.125    = IMPLICIT:2,IA5STRING:youtubeeducation.com
DNS.126    = IMPLICIT:2,IA5STRING:*.youtubeeducation.com
DNS.127    = IMPLICIT:2,IA5STRING:youtubekids.com
DNS.128    = IMPLICIT:2,IA5STRING:*.youtubekids.com
DNS.129    = IMPLICIT:2,IA5STRING:yt.be
DNS.130    = IMPLICIT:2,IA5STRING:*.yt.be
DNS.131    = IMPLICIT:2,IA5STRING:android.clients.google.com
DNS.132    = IMPLICIT:2,IA5STRING:developer.android.google.cn
DNS.133    = IMPLICIT:2,IA5STRING:developers.android.google.cn
DNS.134    = IMPLICIT:2,IA5STRING:source.android.google.cn
DNS.135    = IMPLICIT:2,IA5STRING:developer.chrome.google.cn
DNS.136    = IMPLICIT:2,IA5STRING:web.developers.google.cn

[ CertificatePolicies ]
extension  = OID:certificatePolicies
value      = OCTWRAP,SEQUENCE:policies

[ policies ]
policy.1   = SEQWRAP,OID:2.23.140.1.2.1
policy.2   = SEQWRAP,OID:1.3.6.1.4.1.11129.2.5.3

[ CRLDistributionPoints ]
extension  = OID:crlDistributionPoints
value      = OCTWRAP,SEQUENCE:crlDistPoints

[ crlDistPoints ]
location   = SEQWRAP,IMPLICIT:0,SEQUENCE:fullName

[ fullName ]
fullName   = IMPLICIT:0,SEQUENCE:cdpURI

[ cdpURI ]
URI        = IMPLICIT:6,IA5STRING:http://crls.pki.goog/gts1c3/zdATt0Ex_Fk.crl

[ CTPrecertificateSCTs ]
extension  = OID:1.3.6.1.4.1.11129.2.4.2
value      = FORMAT:HEX,OCTWRAP,OCTETSTRING:00EF00750076FF883F0AB6FB9551C261CCF587BA34B4A4CDBB29DC68420A9FE6674C5A3A740000018C581E0C1F0000040300463044022007C6BC18F8D8ED36D6E90223ED15E82A85A1FF88CBF389AA9A527B7A9FE7117602200AEF5C81E89D81C4B1856CAD914AA75E48E56A1A9B8A587588E0EE0AF7575891007600A2E2BFD61EDE2F2F07A0D64E6D37A7DC6543B0C6B52EA2DAB78AF89A6DF517D80000018C581E0C02000004030047304502210080A153B1ED20019E5DC24432F6CEEECDC1C472DB997FFC64A161B1CE1C4D686802202C513C5B4855C3C1D610F94E908497D2C1235A6214675AB62369A7D8629C5812

[ signatureAlgorithm ]
algorithm  = OID:sha256WithRSAEncryption
parameters = NULL
